<!DOCTYPE html>
<html lang="pt-AO">
<head>
    <meta charset="UTF-8">
    <title>50BUÉ. | Iniciar Sessão</title>
    <script src="../assets/script/script.js"></script>
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="contetor_form">
        <nav class="flex border border-[#8080802a] rounded-2xl overflow-hidden shadow-[0_0_15px_#000]">
            <div class="hidden xl:w-[40vw] xl:block">
                <img src="../assets/img/img1.png" alt="imagem formulário" srcset="" class="pointer-events-none">
            </div>
            <div class="w-[90vw] sm:w-[65vw] md:w-[60vw] xl:w-[30vw] p-6 flex flex-col items-center justify-center">                
                <a href="../" class="text-[#F5F5F5] font-bebas text-4xl"><span class="colorido">50</span>bué<span class="colorido">.</span></a>

                <form class="flex items-center flex-col">
                    <p class="text-[#F5F5F5] font-spartan text-center">Bem-vindo ao clube dos campeões! Não perca a oportunidade de transformar bué tua vida com apenas 50KZs.</p>
                    <div class="flex flex-wrap items-center justify-center gap-4 mt-6">
                        
                        <nav class="nav_inputs_label">
                            <input type="text" name="nome" id="nome" placeholder="">
                            <label for="nome">Nome Completo *</label>
                        </nav>
                        
                        <nav class="nav_inputs_label">
                            <input type="text" name="alcunha" id="alcunha" placeholder="">
                            <label for="alcunha">Alcunha/Apelido *</label>
                        </nav>
                        
                        <nav class="nav_inputs_label">
                            <input type="tel" name="telefone" id="telefone" placeholder="">
                            <label for="telefone">Número de Telefone *</label>
                        </nav>
                        
                        <nav class="nav_inputs_label">
                            <input type="password" name="senha" id="senha" placeholder="">
                            <label for="senha">Palavra-Passe *</label>
                        </nav>
                        
                    </div>
                    
                    <nav class="flex gap-1 w-max border border-[#80808078] mt-10 p-1 rounded-full shadow-[0_0_15px_#000]">
                        <a href="#"  class="botao botao_secundario">Iniciar Sessão</a>
                        <a href="painel.html" class="botao botao_primario botao_comecar">Criar Conta50BUÉ.<i class="fa-solid fa-arrow-down"></i></a>
                    </nav>
                    
                    <p class="text-[#F5F5F5] font-spartan opacity-65 text-center mt-8 text-[11pt]">* Ao <span class="font-bold">criar conta</span>, você declara que leu e concorda integralmente com as <a href="regras.html" class="underline">Regras Gerais</a>, os <a href="termos.html" class="underline">Termos e Condições</a> e as <a href="politica.html" class="underline">Políticas de Privacidade</a> do 50BUÉ.</p>
                </form>

                <form  class="hidden items-center flex-col">
                    <p class="text-[#F5F5F5] font-spartan text-center">Que bom que você voltou! Agora você tem o futuro de transformar bué a tua vida.</p>
                    <div class="flex flex-wrap items-center justify-center gap-4 mt-6">
                        
                        <nav class="nav_inputs_label">
                            <input type="text" name="nome_usuario" id="nome_usuario" placeholder="">
                            <label for="nome_usuario">Núm. de Telefone/ID50 *</label>
                        </nav>
                        
                        <nav class="nav_inputs_label">
                            <input type="password" name="senha_usuario" id="senha_usuario" placeholder="">
                            <label for="senha_usuario">Palavra-Passe *</label>
                        </nav>

                                            
                        <nav class="flex gap-1 w-max border border-[#80808078] mt-10 p-1 rounded-full shadow-[0_0_15px_#000]">
                            <a href="#"  class="botao botao_secundario">Criar Conta50BUÉ.</a>
                            <a href="#" class="botao botao_primario botao_comecar">Iniciar Sessão<i class="fa-solid fa-arrow-down"></i></a>
                        </nav>
                    
                        <p class="text-[#F5F5F5] font-spartan opacity-65 text-center mt-8 text-[11pt]">* Ao <span class="font-bold">iniciar sessão</span>, você terá acesso a informações exclusivas, receber bónus e a verdadeira chance de transformação.</p>
                                            
                    </div>
                </form>
            </div>
        </nav>
    </div>
</body>
</html>