<!DOCTYPE html>
<html lang="pt-AO">
<head>
    <meta charset="UTF-8">
    <title>50BUÉ. | O Seu Painel</title>
    <script src="../assets/script/script.js"></script>
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-[radial-gradient(ellipse_at_bottom,#0F001A_10%,#000_100%)] h-screen flex items-center justify-center">
    <nav class="border border-[#80808036] rounded-2xl w-[95%] h-[95vh] flex">
        <div class="efeito_luz efeito_luz_painel hidden"></div>
        <nav class="border-r border-r-[#80808036] text-white flex flex-col items-start w-80 justify-around p-8">
            <a href="./" class="uppercase font-bebas text-3xl text-[#F5F5F5] sm:text-4xl"><span class="colorido">50</span>bué<span class="colorido">.</span></a>
            <button class="font-spartan text-[15px] uppercase">Painel</button>
            <button class="font-spartan text-[15px] uppercase">Sorteios</button>
            <button class="font-spartan text-[15px] uppercase">Ativações</button>
            <button class="font-spartan text-[15px] uppercase">Meus Dados</button>
            <button class="font-spartan text-[15px] uppercase">Meus Números</button>
            <div class="border border-[#80808036] p-2 rounded-2xl">
                <h6 class="font-spartan font-medium uppercase text-[19px]">Transforme-se com 50 KZs</h6>
                <p class="font-roboto font-extralight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, aperiam officia eaque sed veritatis nam sequi amet quaerat laboriosam quos quod eum officiis iste doloribus, dicta perspiciatis.</p>
            </div>
            <button class="botao w-full bg-red-500">Voltar para o Início</button>
        </nav>
        <nav class="w-full h-full p-8">
            <div class="flex justify-between text-[#f5F5f5]">
                <div>
                    <h1 class="font-spartan text-4xl font-bold">Olá, Kiesse Silvestre!</h1>
                    <p class="font-roboto">Quem bom vê-lo novamente aqui, no seu Painel50!</p>
                </div>
                <div class="flex flex-col">
                    <button>Abrir Menu</button>
                    <small class="font-spartan text-green-400 font-bold text-[14px]">Conta Verificada</small>
                    <small class="font-spartan font-bold text-[#F5F5F5] text-[14px]">Alcunha: KS007</small>
                    <small class="font-spartan font-bold text-[#F5F5F5] text-[14px]">Código50: ASHSJ50JSNJXJA32</small>
                </div>
            </div>
            <div class="mt-5 flex gap-3">
                <div class="border border-[#80808036] p-4 rounded-2xl">
                    <div>
                        <h4 class="font-spartan text-[#f5F5F5] font-bold text-[19px] opacity-65">Números Ativados</h4>
                    </div>
                    <div>
                        <p class="font-spartan text-[#F5F5F5] text-[30px] font-bold">1 642</p>
                    </div>
                </div>
                <div class="border border-[#80808036] p-4 rounded-2xl">
                    <div>
                        <h4 class="font-spartan text-[#f5F5F5] font-bold text-[19px] opacity-65">Investimento nas Ativações (KZs)</h4>
                    </div>
                    <div>
                        <p class="font-spartan text-[#F5F5F5] text-[30px] font-bold">50 591</p>
                    </div>
                </div>
                <div class="border border-[#80808036] p-4 rounded-2xl">
                    <div>
                        <h4 class="font-spartan text-[#f5F5F5] font-bold text-[19px] opacity-65">Quanto você doou? (KZs)</h4>
                    </div>
                    <div>
                        <p class="font-spartan text-[#F5F5F5] text-[30px] font-bold">5 012</p>
                    </div>
                </div>
                <div class="border border-[#80808036] p-4 rounded-2xl">
                    <div>
                        <h4 class="font-spartan text-[#f5F5F5] font-bold text-[19px] opacity-65">Investimento nas Ativações (KZs)</h4>
                    </div>
                    <div>
                        <p class="font-spartan text-[#F5F5F5] text-[30px] font-bold">50 591</p>
                    </div>
                </div>
                <div class="border border-[#80808036] p-4 rounded-2xl">
                    <div>
                        <h4 class="font-spartan text-[#f5F5F5] font-bold text-[19px] opacity-65">Investimento nas Ativações (KZs)</h4>
                    </div>
                    <div>
                        <p class="font-spartan text-[#F5F5F5] text-[30px] font-bold">50 591</p>
                    </div>
                </div>
            </div>
        </nav>
    </nav>
</body>
</html>