<!DOCTYPE html>
<html lang="pt-AO">
<head>
    <meta charset="UTF-8">
    <title>50BUÉ. | Painel Equipe 50BUÉ.</title>
    <script src="../assets/script/script.js"></script>
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-[radial-gradient(ellipse_at_bottom,#0F001A_10%,#000_100%)] h-screen flex items-center justify-center">
    <div class="border border-[#8080802a] rounded-2xl shadow-[0_0_15px_#000] w-[97vw] h-[95vh] overflow-hidden relative flex">
        <nav class="flex flex-col justify-between gap-3 bg-[#07000B] text-[#F5F5F5] px-8 py-6 border-r w-62.5 border-r-[#8080802a]">
            <nav>
                <a href="painel.html" class="font-bebas text-3xl mb-3"><span class="colorido">50</span>BUÉ<span class="colorido">.</span></a>
                <nav class="flex flex-col items-start my-2 gap-4">
                    <button class="botao_side_painel ativo"><i class="fa-solid fa-house"></i> Início</button>
                    <button class="botao_side_painel"><i class="fa-solid fa-users"></i> Usuários</button>
                    <button class="botao_side_painel"><i class="fa-solid fa-star"></i> Núm. Ativados</button>
                    <button class="botao_side_painel"><i class="fa-solid fa-unlock"></i> Total Ativado</button>
                    <button class="botao_side_painel"><i class="fa-solid fa-fire"></i> Sorteios</button>
                </nav>
            </nav>
            <nav>
                <div>
                    <button class="bg-red-500 shadow-[0_0_15px_red] rounded-2xl px-2 py-0.5 cursor-pointer font-roboto text-[11pt]">Terminar Sessão <i class="fa-solid fa-arrow-down"></i></button>
                </div>
                <p class="text-[#F5F5F5] opacity-65 font-light font-roboto text-[13px] mt-3">&copy;<span class="ano_atual"></span> <br> <a class="font-bold hover:underline">DominusCode&trade;</a> <br> Todos os direitos reservados.</p>
            </nav>
        </nav>

        <nav class="flex-col w-full flex items-center text-center">
            <div class="div_estrelas pointer-events-none"></div>

            <div id="inicio" class="text-center flex flex-col justify-center items-center text-[#F5F5F5] w-full h-full">
                <div class="w-2/3 flex items-center justify-center flex-col h-full">
                    <h6 class="font-spartan text-5xl font-bold uppercase opacity-75">Olá, Sr. Dominus! Que bom vê-lo aqui no seu painel 50BUÉ.</h6>
                    <p class="font-roboto px-1 font-bold bg-[#CB6CE6] w-max">Lembre-se de onde você veio e de onde você vai chegar!</p>
                </div>
            </div>

            <div id="usuario" class="hidden flex-col items-center justify-center mt-6 overflow-y-scroll">
                <div class="w-2/3 flex flex-col items-center justify-center">
                    <h6 class="font-spartan text-5xl font-bold uppercase opacity-75 text-[#F5F5F5]">Aqui você pode conferir todos os {X} participantes.</h6>
                    <p class="font-roboto px-1 font-bold bg-[#CB6CE6] w-max text-[#F5F5F5]">Lembre-se essas todas as pessoas estão sobre o teu controle.</p>
                </div>

                <table class="text-[#F5F5F5] border border-[#808080af] rounded-md mt-4">
                    <tr class="tr_tabela_user_adm">
                        <th>Nome Completo</th>
                        <th>Alcunha</th>
                        <th>Telefone</th>
                        <th>Posição no Ranking</th>
                        <th>Números Ativados</th>
                    </tr>
                    <tr class="tr_tabela_user_adm">
                        <td>Alexandre Afonso</td>
                        <td>Fumuntxi666</td>
                        <td>999 000 123</td>
                        <td>#24</td>
                        <td>86</td>
                    </tr>
                    <tr class="tr_tabela_user_adm">
                        <td>Adilson Nkosi Lukombo</td>
                        <td>AL</td>
                        <td>926 666 012</td>
                        <td>#13</td>
                        <td>26</td>
                    </tr>
                    <tr class="tr_tabela_user_adm">
                        <td>Vânio Ndombele</td>
                        <td>KEEP VÂNIO</td>
                        <td>956 666 012</td>
                        <td>#73</td>
                        <td>22</td>
                    </tr>
                    <tr class="tr_tabela_user_adm">
                        <td>Manuncha Maranata</td>
                        <td>ManuchadaZ</td>
                        <td>916 166 112</td>
                        <td>#321</td>
                        <td>3</td>
                    </tr>
                    <tr class="tr_tabela_user_adm">
                        <td>Beni Zenny</td>
                        <td>B13</td>
                        <td>900 123 456</td>
                        <td>#90</td>
                        <td>11</td>
                    </tr>
                    <tr class="tr_tabela_user_adm">
                        <td>Pooh Shiesty</td>
                        <td>Mr. Pooh</td>
                        <td>926 666 012</td>
                        <td>#13</td>
                        <td>26</td>
                    </tr>
                </table>
            </div>

            <div id="numeros_ativados_adm" class="hidden flex-col items-center justify-center h-full mt-6">
                <div class="w-2/3 flex flex-col items-center justify-center">
                    <h6 class="font-spartan text-5xl font-bold uppercase opacity-75 text-[#F5F5F5]">Confira os {X} números da transformação ativados até agora.</h6>
                    <p class="font-roboto px-1 font-bold bg-[#CB6CE6] w-max text-[#F5F5F5]">Total de números ativados até agora por pessoas que você domina.</p>
                </div>
            </div>

            <div id="total_ativado" class="hidden flex-col items-center justify-center h-full mt-6">
                <div class="w-2/3 flex flex-col items-center justify-center">
                    <h6 class="font-spartan text-5xl font-bold uppercase opacity-75 text-[#F5F5F5]">Até agora os ninjas Dominus ganharam 131 774 650 kwanzas.</h6>
                    <p class="font-roboto px-1 font-bold bg-[#CB6CE6] w-max text-[#F5F5F5]">Sorria você agora é milionário.</p>
                </div>
            </div>
        </nav>
    </div>


    <script>
        document.querySelectorAll(".ano_atual").forEach(ano =>  {
            ano.textContent = new Date().getFullYear();
        })

        // EFEITO ESTRELAS 
function criarEstrelas(seletor, quantidade) {
    const containers = document.querySelectorAll(seletor)

    containers.forEach(container => {
        for (let i = 0; i < quantidade; i++) {
            const estrela = document.createElement('div')

            estrela.className = `
                estrelas inset-0 w-[2px] h-[2px] rounded-full 
                bg-[radial-gradient(circle_at_15%_20%,white_1px,transparent_2px),
                radial-gradient(circle_at_85%_60%,white_1px,transparent_2px),
                radial-gradient(circle_at_40%_80%,#DDD_1px,transparent_2px)]
                absolute shadow-[0_0_5px_#F5F5F5] bg-[#F5F5F5] 
                opacity-70 -z-1 
                animate-[brilhoEstrela_4s_infinite_ease-in-out]
            `

            estrela.style.left = Math.random() * 100 + '%'
            estrela.style.top = Math.random() * 100 + '%'
            estrela.style.animationDelay = Math.random() * 5 + 's'
            estrela.style.animationDuration = (Math.random() * 3 + 2) + 's'

            container.appendChild(estrela)
        }
    })
}
criarEstrelas(".div_estrelas", 200)
// EFEITO ESTRELAS 
    </script>
</body>
</html>