<!DOCTYPE html>
<html lang="pt-AO" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <title>50BUÉ. | Políticas de Privacidade</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <meta name="author" content="DominusCode Angola, Calebe 'CL' Lukombo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="corpo_extra">
    <div class="contentor_estrelas">
        <div class="estrela_extra"></div>
        <div class="estrela_extra"></div>
        <div class="estrela_extra"></div>
    </div>
</body>
</html>