<!DOCTYPE html>
<html lang="pt-AO" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <title>50BUÉ. | Regras Gerais</title>
    <script src="../assets/script/script.js"></script>
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="corpo_extra">
    
    <nav class="border border-[#80808017] p-6 rounded-xl md:w-[70%] xl:w-[50%]">

        <h1 class="titulo_termo_politica">Regras Gerais.</h1>
        <small class="text-[#F5F5F5] font-spartan mb-4">Última Atualização: 14/07/2026</small>
        <p class="texto_termo_politica">Este Regulamento estabelece as regras específicas aplicáveis a dinâmica interativa promocional realizada pelo <strong>50BUÉ.</strong>, disponível através do website https://www.50bue.com/. e canais oficiais. Não participe ou pare de usar imediatamente o 50BUÉ. caso você não concorde totalmente com este Regulamento, os Termos e Condições e a Política de Privacidade estabelecidas por nós.</p>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">1. Identificação do Organizador</h2>
        <p class="texto_termo_politica">O sorteio é promovido e organizado pelo 50BUÉ., iniciativa privada desenvolvida pela startup DominusCode, com atuação na República de Angola.</p>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">2. Natureza do Jurídica da Participação</h2>
        <p class="texto_termo_politica">2.1. A participação no 50BUÉ. possui caráter exclusivamente promocional.</p>
        <p class="texto_termo_politica">2.2. A ativação de números não constitui:</p>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">2.2.1. Investimento financeiro;</li>
            <li class="li_termos_politica">2.2.2. Aplicação de capital;</li>
            <li class="li_termos_politica">2.2.3. Produto bancário;</li>
            <li class="li_termos_politica">2.2.4. Produto de valores mobiliários;</li>
            <li class="li_termos_politica">2.2.5. Sociedade, quota ou participação empresarial;</li>
            <li class="li_termos_politica">2.2.6. Contrato de rendimento garantido;</li>
            <li class="li_termos_politica">2.2.7. Sistema de poupança;</li>
            <li class="li_termos_politica">2.2.8. Fundo coletivo;</li>
            <li class="li_termos_politica">2.2.9. Instrumento de captação pública de investimento.</li>
        </ul>
        <p class="texto_termo_politica">2.3. O valor pago corresponde unicamente ao direito de participação na dinâmica promocional descrita no Regulamento Geral.</p>
        <p class="texto_termo_politica">2.4. Não há promessa de retorno financeiro, lucro garantido ou renumeração proporcional ao valor pago.</p>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">3. Objeto do Sorteio</h2>
        <p class="texto_termo_politica">O presente sorteio tem como objetivo premiar participantes que ativarem números válidos na plataforma 50BUÉ., mediante pagamento do valor correspondente.</p>
        <hr class="hr_termo_politica">

        <h2 class="subtitulo_termo_politica">4. Período da Participação</h2>
        <p class="texto_termo_politica">O período de participação inicia-se e encerra-se em data e horários específicos previamente anunciados, podendo ser prorrogada por decisão fundamentada da organização. Qualquer alteração de datas ou horários será comunicada previamente nos canais oficiais.</p>

        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">5. Mecânica do Sorteio</h2>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">5.1. Cada número ativado corresponde a uma participação individual;</li>
            <li class="li_termos_politica">5.2. O valor unitário de cada número é de 50 KZs;</li>
            <li class="li_termos_politica">5.3. O sorteio será realizado por meio de sistema de seleção aleatória.</li>
            <li class="li_termos_politica">5.4. O procedimento será:</li>
            <ul class="ul_termos_politica">
                <li class="li_termos_politica">5.4.1. Público;</li>
                <li class="li_termos_politica">5.4.2. Transmitido online;</li>
                <li class="li_termos_politica">5.4.3. Baseado em método randômico previamente definido;</li>
                <li class="li_termos_politica">5.4.4. Registrado para eventual auditoria.</li>
            </ul>
            <li class="li_termos_politica">5.5. O resultado será considerado definitivo após validação interna da organização.</li>
        </ul>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">6. Quantidade de Números Disponíveis</h2>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">6.1. O total de números disponíveis para cada rodada/edição será previamente anunciada antes da iniciação da rodada/edição;</li>
            <li class="li_termos_politica">6.2. Cada número será único e não poderá ser duplicado;</li>
            <li class="li_termos_politica">6.3. Caso todos os números não sejam ativados até o encerramento:</li>
            <ul class="ul_termos_politica">
                <li class="li_termos_politica">6.3.1. O sorteio poderá ocorrer com os números ativados; ou</li>
                <li class="li_termos_politica">6.3.2. O prazo poderá ser prorrogado;</li>
            </ul>
        </ul>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">7. Apuração e Divulgação dos Resultados</h2>
        <p class="texto_termo_politica">7.1. O sorteio ocorrerá na data anunciada previamente.</p>
        <p class="texto_termo_politica">7.2. O resultado será divulgado:</p>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">7.2.1. No site oficial;</li>
            <li class="li_termos_politica">7.2.2. Nas redes sociais oficiais;</li>
            <li class="li_termos_politica">7.2.3. Durante a transmissão pública.</li>
        </ul>
        <p class="texto_termo_politica">7.3. O vencedor será contactado através dos dados fornecidos no cadastro. A equipe não se responsabiliza por fornecimento de dados incorretos.</p>

        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">8. Entrega dos Prémios</h2>
        <p class="texto_termo_politica">8.1. O vencedor deverá apresentar documento de identificação válido, correspondente aos dados usando no cadastramento do 50BUÉ.</p>
        <p class="texto_termo_politica">8.2. O prazo máximo para reivindicação do prémio é de 30 dias após divulgação.</p>
        <p class="texto_termo_politica">8.3. Caso o vencedor:</p>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">8.3.1. Não seja localizado;</li>
            <li class="li_termos_politica">8.3.2. Tenha violado regras;</li>
            <li class="li_termos_politica">8.3.3. Não apresente documentação correspondente aos usados na criação de conta;</li>
        </ul>
        <p class="texto_termo_politica">Poderá ser desqualificado e um novo sorteio poderá ser realizado ou o prémio doado.</p>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">9. Desclassificação</h2>
        <p class="texto_termo_politica">9.1. Será automaticamente desclassificado o participante que: </p>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">9.1.1. Fornecer dados falsos;</li>
            <li class="li_termos_politica">9.1.2. Tentar manipular o sistema;</li>
            <li class="li_termos_politica">9.1.3. Utilizar meios fraudulentos;</li>
            <li class="li_termos_politica">9.1.4. Violar qualquer regra deste Regulamento.</li>
        </ul>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">10. Transparência e Boa-Fé</h2>
        <p class="texto_termo_politica">O 50BUÉ. compromete-se a conduzir o sorteio com transparência, imparcialidade e boa-fé.</p>
        <p class="texto_termo_politica">Todos os procedimentos poderão ser registrados para fins de auditoria.</p>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">11. Disposições Gerais</h2>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">11.1. A participação é totalmente voluntária;</li>
            <li class="li_termos_politica">11.2. A organização reserva-se o direito de suspender ou cancelar o sorteio por motivo de força maior, fraude comprovada ou exigência legal;</li>
            <li class="li_termos_politica">11.3. Este Regulamente é baseado e regido pelas leis da República de Angola;</li>
            <li class="li_termos_politica">11.4. Caso autoridade competente determine adequações regulatórias, a organização poderá adaptar o modelo operacional para atender às exigências legais.</li>
        </ul>

        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">12. Ausência de Garantia de Ganho</h2>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">12.1. A ativação de maior quantidade de números aumenta apenas a probabilidade estatística de seleção;</li>
            <li class="li_termos_politica">12.2. Não existe qualquer garantia de vitória, retorno financeiro ou recuperação do valor pago;</li>
            <li class="li_termos_politica">12.3. A participação envolve risco exclusivo do participante quanto à não contemplação.</li>
        </ul>

        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">13. Inexistência de Estrutura de Pirâmide ou Marketing Multinível</h2>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">13.1. O 50BUÉ. não opera sob modelo de pirâmide financeira;</li>
            <li class="li_termos_politica">13.2. Não há obrigação de recrutamento de novos participantes;</li>
            <li class="li_termos_politica">13.3. Nenhum participante recebe comissões automáticas baseadas na adesão de terceiros, salvo campanhas promocionais específicas previamente divulgadas e regulamentadas.</li>
        </ul>

        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">14. Limitação de Responsabilidade</h2>
        <p class="texto_termo_politica">14.1. O 50BUÉ. não será responsável por:</p>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">14.1.1. Expectativas subjetivas de ganho;</li>
            <li class="li_termos_politica">14.1.2. Decisões financeiras tomadas com base na participação;</li>
            <li class="li_termos_politica">14.1.3. Perdas indireitas ou danos consequenciais;</li>
            <li class="li_termos_politica">14.1.4. Interpretações equivocadas feitas por terceiros.</li>
        </ul>
        <p class="texto_termo_politica">14.2. A resposabilidade da organização, quando aplicável, será limitada ao valor efetivamente pago pelo participante para ativação de números.</p>

        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">15. Ausência de Vínculo</h2>
        <p class="texto_termo_politica">15.1. A participação não estabelece qualquer tipo de:</p>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">15.1.1. Sociedade;</li>
            <li class="li_termos_politica">15.1.2. Parceria;</li>
            <li class="li_termos_politica">15.1.3. Relação empregatícia;</li>
            <li class="li_termos_politica">15.1.4. Representação comercial;</li>
            <li class="li_termos_politica">15.1.5. Mandato;</li>
            <li class="li_termos_politica">15.1.6. Joint venture.</li>
        </ul>
        <p class="texto_termo_politica">15.2. O participante atua por livre e espontânea vontade.</p>

        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">16. Declaração de Ciência do Participante</h2>
        <p class="texto_termo_politica">16.1. Ao participar, o usuário declara que:</p>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">16.1.1. Compreende e aceita a natureza promocional do projeto;</li>
            <li class="li_termos_politica">16.1.2. Está ciente de que não se trata de investimento;</li>
            <li class="li_termos_politica">16.1.3. Assume riscos de não contemplação;</li>
            <li class="li_termos_politica">16.1.4. Leu e aceitou totalmente os documentos;</li>
        </ul>

        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">17. Precisa de Mais Informações?</h2>
        <p class="texto_termo_politica">Para dúvidas, reclamações ou solicitações de Informações, os partipantes podem contactar a equipe do 50BUÉ. — Estamos prontos para falar com você e te fornecer todo suporte necessário.</p>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">17.1. Email: <a href="mailto:contacto@50bue.ao" class="underline">contacto@50bue.com</a></li>
            <li class="li_termos_politica">17.2. Telefone: <a href="tel:+244999111000" class="underline">999 111 000</a> | <a href="tel:+244999000111" class="underline">999 000 111</a>;</li>
            <li class="li_termos_politica">17.3. Endereço: Rua do Comércio, Cidade do Uíge, Angola;</li>
            <li class="li_termos_politica">17.4. Startup Responsável: <a href="#" class="font-bold underline">DominusCode Inc.</a>.</li>
        </ul>
    </nav>

    <nav class="flex flex-col items-center text-[#F5F5F5] text-center">
        <h3 class="text-[#F5F5F5] font-bebas text-4xl"><a href="../"><span class="colorido">50</span>BUÉ<span class="colorido">.</span></a></h3>
        <nav class="my-2 flex flex-col gap-2.5 sm:flex-row sm:gap-4">
            <a href="#" target="_top" class="link_rodape_extra md:hidden">Voltar ao Topo</a>
            <a href="termos.html" class="link_rodape_extra">Termos e Condições</a>
            <a href="politica.html" class="link_rodape_extra">Política de Privacidade</a>
        </nav>
        <hr class="hr_termo_politica w-1/2">
        <p class="text-[#F5F5F5] font-light font-roboto text-[13px] text-center">&copy;2026 — <a href="#" class="font-bold text-[#CB6CE6]">DominusCode</a> — Todos os direitos reservados</p>
        <p class="text-[#F5F5F5] font-light font-roboto text-[13px] text-center mt-1.5">&copy;<span class="ano_atual"></span> — <a class="colorido font-bold hover:underline">DominusCode</a> — Todos os direitos reservados</p>

    </nav>

</body>
</html>