<!DOCTYPE html>
<html lang="pt-AO">
<head>
    <meta charset="UTF-8">
    <title>50BUÉ. | Termos e Condições</title>
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="corpo_extra">
    <div class="contentor_estrelas">
        <div class="estrelas"></div>
        <div class="estrelas"></div>
        <div class="estrelas"></div>
    </div>
    <div class="h-screen flex items-center justify-center scale-200 animate-pulse">
        <a href="../index.html" class="botao">Voltar</a>
    </div>
</body>
</html>