<!DOCTYPE html>
<html lang="pt-AO" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <title>50BUÉ. | Termos e Condições</title>
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="corpo_extra">
    <nav class="border border-[#80808017] p-6 rounded-xl md:w-[70%] xl:w-[50%]">

        <h1 class="titulo_termo_politica">Termos e Condições.</h1>
        <small class="text-[#F5F5F5] font-spartan mb-4">Última Atualização: 22/02/2026</small>
        <p class="texto_termo_politica">Estes Termos e Condições estabelecem as regras para a participação da dinâmica promocional denominada 50BUÉ. localizado em https://www.50bue.com/. Ao acessar esse site, adquirir números ou participar da dinâmica, você concorda totalmente com os Termos e Condições aqui descritos. Não participe ou pare de usar imediatamente o 50BUÉ. caso não concorde com todos os Termos e Condições estabelecidos por nós.</p>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">1. Aceitação dos Termos</h2>
        <p class="texto_termo_politica">Ao participar do projeto, você declara que leu, compreendeu e concorda totalmente com estes Termos e Condições, bem como com a nossa Política de Privacidade e o nosso Regulamento Geral. Sua participação voluntária implica aceitação integral de todas as regras, prémios, condições e decisões da equipe organizadora.</p>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">2. Natureza do Projeto</h2>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">2.1. O 50BUÉ. é uma iniciativa promocional baseada na ativação de números para a participação em sorteios públicos de prémios.</li>
            <li class="li_termos_politica">2.2. A iniciativa possui caráter promocional e organizacional privado.</li>
        </ul>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">3. Elegibilidade</h2>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">3.1. A participação é apenas aberta para as pessoas maiores de 18 anos.</li>
            <li class="li_termos_politica">3.2. A participação é válida somente para residentes em Angola.</li>
            <li class="li_termos_politica">3.3. É obrigatório fornecer dados pessoais verdadeiros, incluindo nome completo, identificação (BI/NIF), contato e dados para eventual pagamento ou entrega dos prémios, quando aplicável.</li>
            <li class="li_termos_politica">3.4. Participantes que forneçam dados falsos serão desqualificados imediatamente, sem direito a reembolso.</li>
        </ul>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">4. Mecânica da Participação</h2>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">4.1. Cada número ativado corresponde a uma participação no sorteio.</li>
            <li class="li_termos_politica">4.2. A quantidade de números ativados aumenta a chance de ganho, mas não garante vitória;</li>
            <li class="li_termos_politica">4.3. O sorteio será realizado de forma pública, com transmissão online, usando sistema aleatório e auditável previamente definido pela organização.</li>
            <li class="li_termos_politica">4.4. A equipa do 50BUÉ. reserva-se o direito de verificar e validar cada participação antes de considerar válida.</li>
            <li class="li_termos_politica">4.5. Caso todos os númeoros não sejam ativados até a data prevista, a organização poderá:</li>
            <ul class="ul_termos_politica">
                <li class="li_termos_politica">4.5.1. Prorrogar o prazo, ou</li>
                <li class="li_termos_politica">4.5.2. Realizar sorteio com base nos números efetivamente ativados.</li>
            </ul>
        </ul>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">5. Prémios</h2>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">5.1. 250.000 KZs para o participante que ativar a maior quantidade de números;</li>
            <li class="li_termos_politica">5.2. Carro 0 km (marca e modelo a serem divulgados previamente);</li>
            <li class="li_termos_politica">5.3. 1.500.000 KZs;</li>
            <li class="li_termos_politica">5.5. 1 ano de propina paga (condições a ser especificadas);</li>
            <li class="li_termos_politica">5.6. Vale-presente de 350.000 Kzs;</li>
            <li class="li_termos_politica">5.7. Smartphone novo;</li>
            <li class="li_termos_politica">5.8. 6 meses de cesta básica grátis;</li>
            <li class="li_termos_politica">5.9. Prémio Misterioso (anunciado no dia do sorteio);</li>
            <li class="li_termos_politica">5.10. Os prémios são indivisíveis e intransferíveis, salvo autorização expressa da organização.</li>
            <li class="li_termos_politica">5.11. A entrega será feita conforme datas, locais e meios definidos pela organização.</li>
            <li class="li_termos_politica">5.12. Eventuais impostos, taxas administrativas, registos ou encargos legais relacionados ao recebimento do prémio serão de responsabilidade do vencedor, salvo indicação expressa ao contrário.</li>
            <li class="li_termos_politica">5.13. O prémio deverá ser reclamado no prazo máximo de 30 dias após o anúncio oficial. Após esse prazo, poderá perder o direito ao mesmo.</li>
        </ul>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">6. Responsabilidades</h2>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">6.1. A equipe do 50BUÉ. não se responsabiliza por:</li>
            <ul class="ul_termos_politica">
                <li class="li_termos_politica">6.1.1. Falhas de internet;</li>
                <li class="li_termos_politica">6.1.2. Interrupções bancárias;</li>
                <li class="li_termos_politica">6.1.3 Problemas técnicos de terceiros;</li>
                <li class="li_termos_politica">6.1.4. Informações fornecidas incorretamente pelo participante.</li>
            </ul>
            <li class="li_termos_politica">6.2. Tentativas de fraude, manipulação do sistema ou condutas absusivas resultarão em desclassificação imediata e possível responsabilização civil ou criminal;</li>
        </ul>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">7. Direito de Uso da Imagem</h2>
        <p class="texto_termo_politica">Ao aceitar esses termos, você autoriza o 50BUÉ. a utilizar gratuitamente a sua alcunha/apelido, imagem, voz e depoimentos para divulgação em redes sociais, site oficial ou outros meios de comunicação, sem compensação adicional.</p>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">8. Adaptação de Termos Técnicos</h2>
        <p class="texto_termo_politica">Alguns termos técnicos presente no site ou em nossos materiais podem ter sido adaptados, simplificados ou parafraseados. Essa decisão visa garantir que acessibilidade e compressão a um público com diferentes níveis de conhecimento técnico e realidades sociais distintas, bem como facilitar na linguagem publicitária.</p>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">9. Termos Específicos do 50BUÉ.</h2>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">8.1. Todo conteúdo gerado por IA ou algoritmos é fornecido como "como está", com próposito linguístico, experimental ou educativo;</li>
            <li class="li_termos_politica">8.2. Os usuários são totalmente responsáveis por interpretar, utilizar e partilhar informações conforme a sua própria análise, habilidade ou julgamento.</li>
        </ul>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">10. Privacidade e Protecção dos Dados</h2>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">9.1. Todos os dados fornecidos são tratados conforme a <a href="politica.html" class="underline">Política de Privacidade</a> do 50BUÉ. Os dados são usados exclusivamente para validação da participação, entrega de prémios e comunicação com os participantes;</li>
            <li class="li_termos_politica">9.2. Adotamos medidas técnicas, administrativas e organizacionais para proteger seus dados contra acesso não autorizado, alteração, divulgação ou destruição.</li>
            <li class="li_termos_politica">9.3. Seus dados jamais serão partilhados com terceiros sem autorização, exceto para cumprimento legal ou entrega de prémios.</li>
        </ul>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">11. Cancelamento e Alterações</h2>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">11.1. A organização reserva-se o direito de alterar datas, prémios. regras ou termos por motivo justificado;</li>
            <li class="li_termos_politica">11.2. Nenhuma alteração poderá prejudicar direitos já adquiridos pelos participantes.</li>
            <li class="li_termos_politica">11.3. Em caso de força maior ou circunstâncias imprevistas, o sorteio poderá ser prorrogado, suspenso ou cancelado mediante a comunicação oficial.</li>
        </ul>
        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">12. Legislação Aplicável</h2>
        <p class="texto_termo_politica">Estes Termos e Condições seguem a legislação da República de Angola. Qualquer lítigio relacionada será resolvida exclusivamente pelos tribunais competentes em Angola.</p>

        
        <hr class="hr_termo_politica">
        <h2 class="subtitulo_termo_politica">13. Precisa de Mais Informações?</h2>
        <p class="texto_termo_politica">Para dúvidas, reclamações ou solicitações de Informações, os partipantes podem contactar a equipe do 50BUÉ. — Estamos prontos para falar com você e te fornecer todo suporte necessário.</p>
        <ul class="ul_termos_politica">
            <li class="li_termos_politica">13.1. Email: <a href="mailto:contacto@50bue.ao" class="underline">contacto@50bue.com</a></li>
            <li class="li_termos_politica">13.2. Telefone: <a href="tel:+244999111000" class="underline">999 111 000</a> | <a href="tel:+244999000111" class="underline">999 000 111</a>;</li>
            <li class="li_termos_politica">13.3. Endereço: Rua do Comércio, Cidade do Uíge, Angola;</li>
            <li class="li_termos_politica">13.4. Startup Responsável: <a href="#" class="font-bold underline">DominusCode Inc.</a>.</li>
        </ul>
    </nav>

    <nav class="flex flex-col items-center text-[#F5F5F5] text-center">
        <h3 class="text-[#F5F5F5] font-bebas text-4xl"><a href="../"><span class="colorido">50</span>BUÉ<span class="colorido">.</span></a></h3>
        <nav class="my-2 flex flex-col gap-2.5 sm:flex-row sm:gap-4">
            <a href="#" target="_top" class="link_rodape_extra md:hidden">Voltar ao Topo</a>
            <a href="regras.html" class="link_rodape_extra">Regras Gerais</a>
            <a href="politica.html" class="link_rodape_extra">Política de Privacidade</a>
        </nav>
        <hr class="hr_termo_politica w-1/2">
        <p class="text-[#F5F5F5] font-light font-roboto text-[13px] text-center mt-1.5">&copy;<span class="ano_atual"></span> — <a class="colorido font-bold hover:underline">DominusCode</a> — Todos os direitos reservados</p>
    </nav>

    <script>
        document.querySelectorAll(".ano_atual").forEach(ano =>  {
        ano.textContent = new Date().getFullYear();
    })
    </script>
</body>
</html>