<!DOCTYPE html>
<html lang="pt-AO" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <title>50BUÉ. | Termos e Condições</title> 
    <link rel="stylesheet" href="../assets/css/output.css">
    <script src="../assets/script/script.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-[#0d0d0d] flex justify-center">
    <div class="contentor_paginas_extras">
        <div>
            <h2 class="titulo_pagina_extra">Termos e Condições</h2>
            <p class="texto_pagina_extra"><span class="font-medium">Bem-vindo ao 50BUÉ.</span>! Estes Termos e Condições estabelecem as regras para o uso do website 50BUÉ. Ao acessar esse site e participar do jogo, consideramos que você está de acordo com os Termos e Condições aqui descritos ou em qualquer material digital ou físico da nossa autoria. <span class="font-medium">Não participe ou pare de usar imediatamente o 50BUÉ. caso não concorde com todos os Termos e Condições</span> estabelecidos por nós.</p>
        </div>
        <div class="flex flex-col gap-10">
            <div>
                <h3 class="subtitulo_pagina_extra">1. Adaptação de Termos Técnicos</h3>
                <p class="texto_pagina_extra">Alguns termos científicos e/ou técnicos presentes no site e em nossos materiais podem ter sido adaptados, simplificados ou parafraseados. Essa decisão visa garantir acessibilidade e compreensão a um público com diferentes níveis de conhecimento técnico, origens regionais, e realidades sociais distintas, bem como facilitar a linguagem publicitária.</p>
            </div>

            <div>
                <h3 class="subtitulo_pagina_extra">2. Termos Específicos do 50BUÉ.</h3>
                <p class="texto_pagina_extra">O 50BUÉ. é uma plataforma voltada para fins de diversão e edutretenimento. Não garantimos resultados ou ganhos para todos os participantes.</p>
            </div>

            <div>
                <h3 class="subtitulo_pagina_extra">3. Cookies.</h3>
                <p class="texto_pagina_extra">Utilizamos cookies para proporcionar uma experiência personalizada. Ao acessar o 50BUÉ., você concorda com o uso dos cookies necessários. Cookies são arquivos de texto colocados no seu dispositivo por um servidor de página web. Eles não são capazes de executar programas ou transmitir vírus. Você pode optar por aceitar ou recusar cookies opcionais. Cookies obrigatórios, que garantem o funcionamento do site, não necessitam de consentimento.</p>
            </div>

            <div>
                <h3 class="subtitulo_pagina_extra">4. Licença.</h3>
                <p class="texto_pagina_extra">A menos que declarado o contrário, o 777PY e/ou seus licenciadores detêm os direitos de propriedade intelectual de todo o conteúdo do site. Todos os direitos são reservados. Você pode acessar o conteúdo para uso pessoal, respeitando as restrições: Reproduzir, republicar ou copiar materiais do 50BUÉ.; Vender, alugar ou sublicenciar materiais do 50BUÉ.; Redistribuir conteúdo do 50BUÉ. sem permissão expressa;</p>
            </div>

            <div>
                <h3 class="subtitulo_pagina_extra">4. Publicações ou Dizeres de Usuários.</h3>
                <p class="texto_pagina_extra">Algumas áreas do site podem conter vídeos, imagens, publicações, comentários ou opiniões dos nossos usuários. Esses comentários são de responsabilidade exclusiva dos seus autores. O 50BUÉ. não se responsabiliza por comentários publicados por terceiros, mas reserva-se o direito de moderar ou remover qualquer conteúdo inadequado. Ao publicar comentários, você garante que: Detém os direitos legais para expressar, postar, comentar sobre diversos conteúdos; O conteúdo não infringe direitos de terceiros; O conteúdo não é difamatório, ofensivo ou ilegal; O conteúdo não promove atividades comerciais ou ilegais; Você concede ao 50BUÉ. uma licença não-exclusiva para usar, reproduzir, editar e sublicenciar seus comentários em qualquer mídia.</p>
            </div>

            <div>
                <h3 class="subtitulo_pagina_extra">5. Links para o Nosso Conteúdo.</h3>
                <p class="texto_pagina_extra">Organizações como institutos governamentais, mecanismos de busca e instituições educacionais podem incluir links para nosso site sem autorização prévia, desde que: O link não seja enganoso; Não implique falsamente patrocínio ou endosso; Esteja contextualizado dentro do nosso site; O link não seja enganoso; Outras organizações devem solicitar permissão pelos canais oficiais contidos nessa site.</p>
            </div>

            <div>
                <h3 class="subtitulo_pagina_extra">6. Iframes.</h3>
                <p class="texto_pagina_extra">Sem permissão prévia, não é permitido criar "frames" em torno de nossas páginas que modifiquem a aparência visual do nosso site.</p>
            </div>

            <div>
                <h3 class="subtitulo_pagina_extra">7. Responsabilidade pelo Conteúdo.</h3>
                <p class="texto_pagina_extra">Não nos responsabilizamos por conteúdo exibido em sites de terceiros que contenham links para o nosso site. Ao vincular seu site ao nosso, você concorda em nos isentar de qualquer responsabilidade.</p>
            </div>

            <div>
                <h3 class="subtitulo_pagina_extra">8. Direitos Reservados.</h3>
                <p class="texto_pagina_extra">Reservamo-nos o direito de solicitar a remoção de qualquer link para nosso site e de alterar estes termos a qualquer momento. Ao continuar usando nosso site, você concorda com tais termos atualizados.</p>
            </div>

            <div>
                <h3 class="subtitulo_pagina_extra">9. Remoção de Link.</h3>
                <p class="texto_pagina_extra">Se encontrar algum link ofensivo em nosso site, entre em contato conosco. Consideraremos sua solicitação, mas não somos obrigados a remover links ou responder diretamente.</p>
            </div>

            <div>
                <h3 class="subtitulo_pagina_extra">10. Precisão das Informações.</h3>
                <p class="texto_pagina_extra">Não garantimos que todas as informações presentes neste site estejam completas, corretas ou atualizadas. O conteúdo pode ser alterado a qualquer momento sem aviso prévio.</p>
            </div>

            <div>
                <h3 class="subtitulo_pagina_extra">11. Isenção de Responsabilidade.</h3>
                <p class="texto_pagina_extra">Na máxima extensão permitida por lei, excluímos todas as garantias, expressas ou implícitas, relativas ao uso deste site. Nada nestes termos: Limita ou exclui responsabilidade por fraude ou declaração fraudulenta; Limita quaisquer responsabilidades de forma contrária à legislação aplicável.</p>
            </div>

            <div>
                <h3 class="subtitulo_pagina_extra">13. Fale Connosco.</h3>
                <p class="texto_pagina_extra">Se tiver dúvidas ou reclamações relacionadas aos nossos Termos e Condições sua privacidade, entre em contacto: E-mail: apoio@777py.com e Telefone: 999 111 000 | 999 111 222</p>
            </div>
        </div>
    </div>

    <!-- <a href="../"><button class="botao">Voltar</button></a> -->
</body>
</html>