@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-roboto: "Roboto", system-ui, sans-serif;
    --font-bebas: "Bebas Neue", system-ui, sans-serif;
    --font-spartan: "League Spartan", system-ui, sans-serif;
}