@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-roboto: "Roboto", system-ui, sans-serif;
    --font-bebas: "Bebas Neue", system-ui, sans-serif;
    --font-spartan: "League Spartan", system-ui, sans-serif;
}

.colorido {
    @apply text-[#CB6CE6]
}

.opcao_menu {
    @apply font-roboto hover:opacity-70 transition-opacity duration-300 lg:p-1
}

header.ativado .menu_mobile  {
    @apply pointer-events-auto [clip-path:circle(1000px_at_0rem_0rem)] sm:[clip-path:circle(1500px_at_0rem_0rem)]
}

.fa-arrow-down {
    @apply -rotate-135
}

.botao {
    @apply bg-[#CB6CE6] px-2 py-0.5 font-roboto text-[14px] rounded-full shadow-[0_0_15px_#cb6ce6e6] font-normal text-[#F5F5F5] cursor-pointer border border-[#CB6CE6];
}

.botao_primario {
    @apply rounded-l-2xl
}

.botao_secundario {
    @apply rounded-r-2xl bg-[#80808078] shadow-[0_0_15px_transparent] border-[#80808078] hover:bg-[#CB6CE6] hover:shadow-[0_0_15px_#cb6ce6e6] hover:border-[#CB6CE6] duration-500 transition-all
}

.botao_extra {
    @apply px-2 py-0.5 font-roboto text-[14px] rounded-full font-normal text-[#F5F5F5] cursor-pointer border border-[#80808078] bg-[#80808078] rounded-r-2xl hover:border-[#CB6CE6] duration-500 transition-all hover:bg-[#CB6CE6] hover:shadow-[0_0_15px_#cb6ce6e6] shadow-[0_0_15px_transparent]
}

.linha_menu_hamburguer {
    @apply bg-[#F5F5F5] w-7 h-0.5 rounded-4xl nth-[1]:w-4.5
}

.texto_secao {
    @apply text-[#F5F5F5] font-roboto font-light
}

@keyframes brilhoEstrela {
    0%, 100% {
        opacity: .1;
        transform: scale(.8)
    }
    50% {
        opacity: .5;
        transform: scale(1.1)
    }
}

.efeito_luz {
    @apply w-64 h-64 rounded-full bg-[radial-gradient(circle,#CB6CE6_0%,#0D0D0D_100%)] -z-10 opacity-60 blur-2xl
}

.botao_ativar_numero {
    @apply bg-transparent text-center shadow-[0] border-none opacity-60 text-[12px] sm:w-full md:w-[20%] lg:w-full
}

.botao_ativar_numero.ativo {
    @apply bg-[#CB6CE6] border-[#CB6CE6] opacity-100 shadow-[0_0_15px_#cb6ce6e6]
}

.texto_tipo_ativacao {
    @apply text-[#F5F5F5] font-spartan my-2 text-center
}

.input_selecionar_numero {
    @apply hidden
}

.input_gerar_numero {
    @apply hidden
}

.label_selecionar_numero {
    @apply text-[#F5F5F5] opacity-15 border border-[#F5F5F5] py-1 px-3.5 rounded-full font-spartan font-bold text-[15pt] cursor-pointer hover:opacity-100 hover:border-[#CB6CE6] hover:bg-[#CB6CE6] hover:shadow-[0_0_15px_#cb6ce6e6]
}

.label_numero_selecionado {
    @apply text-[#F5F5F5] border border-[#CB6CE6] py-1 px-3.5 rounded-full font-spartan font-bold text-[15pt] bg-[#CB6CE6] shadow-[0_0_15px_#cb6ce6e6]
}

.label_gerar_numero {
    @apply text-[#CB6CE6] font-spartan text-7xl font-semibold
}

.texto_info {
    @apply text-[#F5F5F5] font-spartan text-center w-[60%] m-auto pt-4 text-[13px] opacity-70
}

.input_selecionar_numero:checked + .label_selecionar_numero {
    @apply border-[#CB6CE6] bg-[#CB6CE6] shadow-[0_0_15px_#cb6ce6e6] animate-[animaBotaoSelecao_.7s_ease-in] opacity-100
}

@keyframes animaBotaoSelecao {
    0%, 100% {
        opacity: 100%
    }
    50% {
        opacity: .1
    }
}

.div_content_ranking {
    @apply overflow-x-scroll px-9 pt-6 mt-2 relative sm:px-20 xl:py-6 xl:px-0 lg:overflow-visible
}

.div_content_ranking::-webkit-scrollbar,
.content_card_premio::-webkit-scrollbar {
    @apply hidden
}

.card_ranking {
    @apply border border-[#8080802a] rounded-2xl flex flex-col w-60 h-60 justify-around py-2 px-4 relative overflow-hidden shadow-[0_0_15px_#000] nth-[1]:-rotate-3 nth-[2]:rotate-3 nth-[3]:-rotate-2 nth-[4]:-rotate-2 nth-[5]:rotate-3 lg:nth-[1]:-rotate-2 bg-[#0d0d0d] 
}

.posicao_ranking {
    @apply font-spartan text-[#F5F5F5] text-4xl font-semibold opacity-70
}

.nome_participante_ranking {
    @apply text-[#F5F5F5] font-spartan text-3xl font-semibold opacity-70
}

.posicao_ranking_1, 
.nome_participante_ranking_1 {
    @apply text-[#F5F5F5] opacity-100
}

.linha_horizontal_ranking {
    @apply border-[#F5F5F5] w-2/4 opacity-20 
}

.info_ranking_participante {
    @apply text-[#F5F5F5] font-spartan font-light text-[17px]
}

.efeito_luz_ranking {
    @apply absolute -bottom-48
}

.card_premio {
    @apply border border-[#8080802a] p-4 rounded-2xl shadow-[0_0_15px_#000] min-w-[26%] bg-[#0d0d0d] relative
}

.fa-arrow-down.icon-premio {
    @apply opacity-50 absolute top-4 right-4 text-[#F5F5F5]
}

.texto_premio_card_premio {
    @apply text-[#F5F5F5] opacity-30 font-bold font-spartan uppercase text-[20px] 
}

.nome_premio_card_premio {
    @apply text-[#CB6CE6] font-spartan font-bold uppercase text-3xl
}

.texto_premio {
    @apply text-[#F5F5F5] font-roboto mb-2 
}

.imagem_premio {
    @apply w-64 m-auto
}

.breves_premios {
    @apply text-center text-[#F5F5F5] opacity-30 font-bold font-spartan uppercase text-[20px] mt-2
}

.texto_brevemente {
    @apply text-[#f5f5f5] font-spartan uppercase text-3xl text-center font-bold animate-pulse
}

.card_fundadores {
    @apply flex flex-col items-center gap-2 border border-[#8080802a] rounded-2xl p-8 w-11/12 top-20 sticky bg-[#0D0D0D] shadow-[0_0_15px_#000] transition-all duration-700 sm:w-8/12 lg:w-96
}

.card_fundadores.visto {
    @apply nth-[1]:rotate-6 nth-[2]:-rotate-6 nth-[3]:rotate-2 nth-[4]:-rotate-3 nth-[5]:rotate-4
}

.img_fundador {
    @apply pointer-events-none grayscale-100 transition-all duration-3000
}

.card_fundadores.visto .img_fundador {
    @apply grayscale-0
}

.nome_fundador {
    @apply text-[#CB6CE6] text-3xl font-spartan font-bold 
}

.cargo_fundador {
    @apply text-[#F5F5F5] font-spartan opacity-65 text-center 
}

.hr_fundador {
    @apply border-[#808080] w-1/2 
}

.div_percentual_info {
    @apply flex gap-4 sm:gap-0 sm:w-55 sm:flex-col sm:items-center sm:justify-center sm:text-center sm:p-2.5 sm:rounded-lg sm:border sm:border-[#8080802a] lg:border-none lg:flex-row lg:w-full lg:text-start lg:p-0 lg:justify-start lg:items-start lg:gap-1.5
}

.percentual {
    @apply text-[#F5F5F5] text-6xl font-bold font-spartan w-47 text-right sm:w-auto lg:w-47
}

.percentual_destaque {
    @apply text-[#CB6CE6]
}

.info_percentual {
    @apply text-[#F5F5F5] font-spartan font-medium w-full
}

.texto_efeito_colorir {
    @apply text-[#F5F5F5] font-roboto text-center font-semibold text-[22px] opacity-15 transition-all duration-500 ease-in sm:w-[95%] lg:w-[44%] lg:text-[27px] xl:w-[42%]
}

.texto_efeito_colorir.colorido {
    @apply text-[#CB6CE6] opacity-100 
}

.div_img_parceiro {
    @apply flex justify-center items-center overflow-hidden w-62.5 xl:w-auto xl:border xl:border-[#8080802a] xl:hover:scale-[1.08] xl:h-40 xl:p-1 xl:rounded-lg pointer-events-none xl:transition-all xl:duration-300 xl:pointer-events-auto xl:hover:border-[#CB6CE6] nth-[7]:lg:hidden nth-[8]:lg:hidden nth-[9]:lg:hidden nth-[10]:lg:hidden  nth-[11]:lg:hidden nth-[12]:lg:hidden
}

.img_logo_parceiro {
    @apply w-44 xl:w-40 brightness-0 invert 
}

@keyframes animacaoScroll {
    0% { 
        transform: translateX(0); 
    }
    
    100% { 
        transform: translateX(-50%); 
    }
}

.link_rodape {
    @apply font-spartan opacity-65 text-[#F5F5F5] p-0.5 hover:underline text-[14px]
}

.link_social_media {
    @apply font-spartan text-[#F5F5F5] opacity-65 text-[22px] font-semibold xl:text-4xl hover:opacity-80
}

.contentor_paginas_extras {
    @apply border border-[#8080802a] rounded-2xl text-center p-8 shadow-[0_0_15px_#000] m-4 flex flex-col gap-20 md:w-1/2
}

.titulo_pagina_extra {
    @apply font-spartan text-transparent font-bold text-5xl bg-clip-text bg-[linear-gradient(90deg,#CB6CE6_0%,#CB6CE6_50%,#F5F5F5_100%)] text-[65px]
}

.texto_pagina_extra {
    @apply text-[#F5F5F5] font-roboto font-light
}

.subtitulo_pagina_extra {
    @apply font-spartan text-transparent font-bold text-5xl bg-clip-text bg-[linear-gradient(90deg,#CB6CE6_0%,#CB6CE6_50%,#F5F5F5_100%)] text-[40px]
}